{log_level, debug}.

{port_var, 8080}.

{polling_rate_var_ms, 10000}.
{top_n_var, 5}. %% Top N items to fetch
{max_polling_attempts_var, 3}. %% Max polling attempts before giving up
{polling_backoff_ms_var, 1000}. %% Backoff time in milliseconds for polling

{page_size_var, 2}. %% Page size for pagination
{max_http_requests_var, 5}. %% Max API requests per <period> from a single IP
{max_ws_connections_var, 5}. %% Max WebSocket connections per <period> from a single IP
{rate_limit_cleanup_timeout_ms_var, 10000}.
{ws_idle_timeout_ms_var, 10000}. %% Max WebSocket idle time before closing
{ws_rate_limit_window_ms_var, 1000}. %% WebSocket rate limit window in milliseconds
{ws_rate_limit_msg_max_count_var, 1}. %% Max WebSocket messages per <ws_rate_limit_window_ms>
